/*
    Primary: #010907 (RGB: 1, 9, 7)
    Secondary: #e9fbf7 (RGB: 233, 251, 247)
    Primary Button: #1347d8 (RGB: 19, 71, 216)
    Secondary Button: #ffffff (RGB: 255, 255, 255)
    Accent: #1140c0 (RGB: 17, 64, 192)
*/

/*global classes*/

:root {
    --primary: #010907;
    --secondary: #e9fbf7;
    --primary-button: #1347d8;
    --secondary-button: #ffffff;
    --accent: #1140c0;
}

::selection {
    color: var(--secondary-button);
    background: var(--primary);
}


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 2rem 0;
    font-weight: bold;
}

.d-flex-row {
    display: flex;
    margin: 0;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}

.w-50 {
    width: 50%;
}

.title-heading {
    font-size: 36px;
    color: var(--primary);
    margin: 3.5rem auto;
}

.title-subheading {
    font-size: 24px;
    color: var(--primary);
    font-weight: bold;
}

.btn {
    background-color: var(--primary-button);
    color: var(--secondary);
    padding: 2.5%;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    font-size: 20px;
    transition-duration: .33s;
    z-index: 99;
}

.mail-btn {
    text-decoration: none !important;
    color: white;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--accent);
    -webkit-box-shadow: 3px 13px 43px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 3px 13px 43px -10px rgba(0, 0, 0, 1);
    box-shadow: 3px 13px 43px -10px rgba(0, 0, 0, 1);
}

.gradient-text {
    color: #1347d8;
    background-image: -webkit-radial-gradient(circle, #1140c0 57%, #010907 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#scroll-to-top {
    visibility: hidden;
    position: fixed;
    font-size: 100px;
    left: 95%;
    top: 90%;
    cursor: pointer;
}

.test {
    background-color: red;
}

/* actual page styles below*/

nav {
    padding-top: .5rem;
    background-color: var(--secondary-button);
    text-decoration: none;
}

.nav-items {
    display: flex;
    margin: 1rem 0;
    flex: 1;
}

.nav-items__logo {
    margin: 0 28rem;
}

.nav-items__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 20%;
}

.nav-item {
    text-decoration: none;
    font-size: 1.25em;
    transition-duration: .1s;
}

.nav-item:hover {
    background-color: var(--primary-button);
    color: var(--secondary-button);
}

.banner {
    margin: auto;
    justify-content: space-evenly;
    padding: 10% 0;
    background-color: var(--primary-button);
    background-image: url("assets/images/layered-waves-haikei (6).svg");
    background-repeat: no-repeat;
    color: var(--secondary-button);
    height: 200px;
    z-index: 1;
}

.absolute-bg {
    position: absolute;
    bottom: 30%;
    opacity: .75;
    z-index: 2;
}

.banner__heading-text {
    width: 50%;
    margin-left: 7.5rem;
    position: relative;
    bottom: 50%;
    left: 10%;
    z-index: 5;
}

.banner__heading-text > p {
    width: 50%;
}

.banner__heading-image {
    margin-right: 150px;
    position: relative;
    bottom: 50%;
    right: 5%;
    z-index: 3;
}

.banner__heading-image > img {
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.62);
    box-shadow: 10px 10px 32px 0px rgba(0,0,0,0.62);
}

.main-heading {
    font-size: 3em;
    width: 20vw;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(19,71,216);
    background: linear-gradient(0deg, rgba(19,71,216,1) 0%, rgba(255,255,255,0) 29%);
}

.about {
    background: var(--secondary-button);
    margin: 1.5rem auto;
    border-radius: 15px;
    -webkit-box-shadow: 3px 13px 43px -10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 3px 13px 43px -10px rgba(0, 0, 0, 1);
    box-shadow: 3px 13px 43px -10px rgba(0, 0, 0, 1);
    transition-duration: .33s;
}

.about > img {
    border-radius: 8px;
}

.about-main {
    margin: 1rem auto;
}

.about-main__title {
}

.about-main__buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.about-text {
    justify-content: center;
    margin: 0 10rem;
    background-color: var(--secondary-button);
}

.about-text-left {
    display: flex;
}

.about-text-right {
    display: flex;
}

.mid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary-button);
    padding: 1rem 0 1.25rem 0;
}

.mid-section__title {
    margin: 5rem;
    font-size: 48px;
    color: var(--secondary-button)
}

#pricing {
    justify-content: center;
    align-items: center;
}

.price-card {
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondary-button);
    margin: 0 6rem;
    border-radius: 15px;
    -webkit-box-shadow: 9px 10px 32px -8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 9px 10px 32px -8px rgba(0, 0, 0, 0.8);
    box-shadow: 9px 10px 32px -8px rgba(0, 0, 0, 0.8);
    min-width: 25rem;
    max-width: 28rem;
}

.most-popular {
    position: absolute;
    font-size: 1em;
    background-color: var(--primary-button);
    -moz-transform: rotate(326deg);
    -webkit-transform: rotate(326deg);
    -o-transform: rotate(326deg);
    -ms-transform: rotate(326deg);
    transform: rotate(326deg);
    color: var(--secondary-button);
    right: 54.5%;
    margin-bottom: 387px;
    border-radius: 5px;
    padding: 0 50px;
}

.price-card > p {
    width: 75%;
}

.check-mark {
    padding: 0 .25rem;
}

.price-card > span {
    width: 50%;
    position: relative;
    top: 25px;
    -webkit-box-shadow: 9px 10px 32px -8px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 9px 10px 32px -8px rgba(0, 0, 0, 0.8);
    box-shadow: 9px 10px 32px -8px rgba(0, 0, 0, 0.8);
}

.bot-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bot-section__title {
    margin-bottom: 0;
}

.clients {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
    margin-top: 2.5rem;
    box-sizing: border-box;
    max-width: 75%;
    align-items: baseline;
}

.clients__client {
    width: 20vw;
    height: 20vh;
}


.contact-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.contact-form input, textarea {
    border: 2px solid var(--primary-button);
    resize: vertical;
    margin: .5rem 0;
    width: 100%;
}

.contact-form__btn {
    display: flex;
    justify-content: center;
}


footer {
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media > img {
    margin: auto 1rem;
}

@media (max-width: 768px) {
    html {
        overflow-x: hidden;
    }

    #scroll-to-top {
        font-size: 4rem;
        top: 60%;
        cursor: pointer;
    }

    .nav-items__items {

    }

    .nav-item {
        font-size: 2em;
    }

    .nav-items > img {
        visibility: hidden;
        position: absolute;
    }

    .banner {
        flex-direction: column;
        padding: 28.5% 0;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .absolute-bg {
        opacity: .33;
    }

    .main-heading {
        width: 100vw;
    }

    .banner__heading-text {
        font-size: 1.25rem;
        width: 100%;
        text-align: center;
        margin: 0;
        bottom: 0;
        left: 0;
        top: 50%;
    }

    .banner__heading-text > p {
        text-align: center;
        padding: 0 15%;
        width: auto;
        line-height: 1.5em;
    }

    .banner__heading-image {
        visibility: hidden;
    }

    .top-section {
        text-align: center;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .about {
        background: var(--secondary-button);
        margin: 0;
        padding: 0;
    }

    .about-text {
        margin: 0 5%;
        background: none;
    }

    .about-text-right, .about-text-left {
        margin: 5% auto;
        z-index: 1000;
    }

    .mid-section {
        background: rgb(19,71,216);
        background: linear-gradient(180deg, rgba(19,71,216,1) 40%, rgba(255,255,255,1) 95%);
    }

    .mid-section__title {
        text-align: center;
    }

    .prices-container {
        flex-direction: column;
        align-items: center;
    }

    .price-card {
        margin: 2.5rem 0;
        max-width: 65%;
    }

    .most-popular {
        margin-right: 3.5%;
        margin-top: 3.5%;
        font-size: 1.25em;
    }

    .bot-section {
        text-align: center;
    }

    .clients {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10rem;
    }

    .clients__client {
        width: 25vw;
        height: 15vh;
    }
}

@media (max-width: 1024px) {
    .prices-container {
        flex-direction: column;
        align-items: center;
    }

    .price-card {
        margin: 2.5rem 0;
        max-width: 65%;
    }

    .most-popular {
        margin-right: 3.5%;
        margin-top: 3.5%;
        font-size: 1.25em;
    }


}